{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div id="wishlist-container row">
    <div class="card-wrapper col-12 col-md-3 product-card-wrapper underline-links-hover">
      <div
        id="bookmark-wrapper"
        style="position:absolute; top: 0; left: 3px;inset: 17px auto auto 17px;display: block;z-index:2;"
      >
        <svg
          onclick="removeFromWishList('9729165820208','Allergic to People T-Shirt', '//hechterpariseg.com/cdn/shop/files/20241219-029-2_medium.jpg?v=1738336365', 'LE 299.00', '/products/allergic-to-people-t-shirt-ormw24ts-019ess')"
          class="svg-inline--fa fa-bookmark fs-1"
          style="cursor: pointer;"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="bookmark"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          data-fa-i2svg=""
        >
          <path fill="currentColor" d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"></path>
        </svg>
        <!--
          <i onclick="addToWishList('9729165820208','Allergic to People T-Shirt', '//hechterpariseg.com/cdn/shop/files/20241219-029-2_medium.jpg?v=1738336365', 'LE 299.00', '/products/allergic-to-people-t-shirt-ormw24ts-019ess')" class="fas fa-bookmark fs-1" style="cursor:pointer" aria-hidden="true"></i> Font Awesome fontawesome.com
        -->
      </div>
      <div
        class="card border-0 card--standard card--media" style="--ratio-percent: 133.33333333333334%;"
      >
        <div class="card__inner color-scheme-2 gradient ratio" style="--ratio-percent: 133.33333333333334%;">
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              <img
                src="//hechterpariseg.com/cdn/shop/files/20241219-029-2.jpg?v=1738336365&amp;width=533"
                sizes="(min-width: 1400px) 317px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="Allergic to People T-Shirt"
                class="motion-reduce"
                width="1500"
                height="2000"
              >
            </div>
          </div>
          <div class="card__content">
            <div class="card__information">
              <h3 class="card__heading">
                <a
                  href="/products/allergic-to-people-t-shirt-ormw24ts-019ess"
                  id="StandardCardNoMediaLink-template--23991343350064__product-grid-9729165820208"
                  class="full-unstyled-link"
                  aria-labelledby="StandardCardNoMediaLink-template--23991343350064__product-grid-9729165820208 NoMediaStandardBadge-template--23991343350064__product-grid-9729165820208"
                >
                  Allergic to People T-Shirt
                </a>
              </h3>
            </div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading h5" id="title-template--23991343350064__product-grid-9729165820208">
              <a
                href="/products/allergic-to-people-t-shirt-ormw24ts-019ess"
                id="CardLink-template--23991343350064__product-grid-9729165820208"
                class="full-unstyled-link"
                aria-labelledby="CardLink-template--23991343350064__product-grid-9729165820208 Badge-template--23991343350064__product-grid-9729165820208"
              >
                Allergic to People T-Shirt
              </a>
            </h3>
            <div class="card-information">
              <div class="price  price--sold-out price--on-sale">
                <div class="price__container">
                  <div class="price__regular">
                    <span class="visually-hidden visually-hidden--inline">Regular price</span>
                    <span class="price-item price-item--regular"> LE 299.00 EGP </span>
                    <div class="price__sale">
                        <span class="visually-hidden visually-hidden--inline">Regular price</span>
                        <span>
                          <s class="price-item price-item--regular">
                            
                              LE 459.00 EGP
                            
                          </s>
                        </span><span class="visually-hidden visually-hidden--inline">Sale price</span>
                      <span class="price-item price-item--sale price-item--last">
                        LE 299.00 EGP
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
</div>
<script>
    const productList = JSON.parse(localStorage.getItem('wishList')) || [];
    const wishList = document.getElementById('wishlist-container');
    {% comment %} wishList.innerHTML = ``; {% endcomment %}
</script>
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
